<?xml version="1.0"?>
<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find turtlebot_random_walker)/config/logger_level.conf" />

 	<arg name = "runRosbag" default= "false" />
    
    <include file="$(find turtlebot_random_walker)/launch/turtlebot_world.launch"></include>
    
    <node pkg="turtlebot_random_walker" name="walker" type="walker" output="screen" />
    <node pkg="rosbag" name="record" type="record" args="-a -x /camera/(.*) -O $(find turtlebot_random_walker)/bags/walker.bag" if="$(arg runRosbag)" />

</launch>


